.slideshow-card {
    margin: auto;
    max-width: 400px;
  }

  .slideshow {
      margin: 5%;
  }

  .aniimg {
      max-width: 200px;
  }
  .imageholder{
    margin: auto;
    text-align: center;
  }

  .mat-card-actions {
      text-align: center;
  }