.login-card {
    max-width: 400px;
    margin: auto;
    padding: 2%;
    margin-top: 20%;
  }

  .login {
text-align: center;
  }
.mat-card-actions{
    text-align: right;
    
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 8px;
  padding-bottom: 0;
}