<div class="content" fxLayout="row" fxLayout.xs="column"  
fxLayoutAlign="flex-start"   fxLayoutGap="32px">
    <div fxFlex="50" class="sec1" fxFlex.xs="55">
        <div class="listcontainer">
            <form [formGroup]="commentForm"
            (ngSubmit)="onComment(commentForm.value)">
            <mat-card class="commentcard" style="width: 80%; padding: 5%; margin: 5%;">
            <mat-card-header>
                <mat-card-title>make a comment</mat-card-title>
                <mat-card-subtitle>What do you think</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="comment-container">
                    <mat-form-field appearance="fill"  style="width:100%">
                      <mat-label>Give a commment</mat-label>
                      <textarea matInput placeholder="give a comment" 
                      [formControl]="commentForm.controls['comment']"
                   (keyup.enter)="onComment(commentForm.value)"
                   maxlength="30"
                       ></textarea>
                       <mat-error *ngIf="submitted && comment.hasError('invalidComment')">
                           Comment must start with Great!
                       </mat-error>
                       <mat-error *ngIf="submitted && comment.hasError('required')">
                        Add a comment
                       </mat-error>
                    
                    </mat-form-field>
                  </div>
                 
                
              </mat-card-content>
              <mat-card-actions style="text-align: end; width:95%">
                <button mat-raised-button color="Warn">Rensa</button>
                <button mat-raised-button color="primary" [disabled]="comment.hasError('required')" type="submit" >Kommentera</button>
              </mat-card-actions>
            </mat-card>
        </form>
        </div>
    </div>


    <div fxFlex="50" class="sec2">
        <div class="listcontainer">
        <app-commentfeed>
            
        </app-commentfeed>
    </div>
</div>


  </div>
